@use "../../App.scss";

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 50%;
  min-height: 300px;
  background-color: App.$primary-color;
  border-radius: 0.25rem;
}

.header {
  font-size: 1.375rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid App.$secondary-color;

  .icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
    border-radius: 50%;
    padding: 0.125rem;

    &:hover {
      background-color: App.$secondary-color;
    }
  }
}

.content {
  padding: 1rem;
}
