$primary-text-color: #f3f4f8;
$secondary-color: #282a3a;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #101223;
  color: $primary-text-color;
  font-size: 18px;
}

.wrapper {
  display: flex;
}

.sidebar {
  min-width: 280px;
  padding: 0 1.250em;

  .brand {
    font-size: 1.625em;
    padding: 0.5em 0;
    font-weight: bold;
    // border-bottom: 1px solid #282a3a;
  }

  .user {
    display: flex;
    align-items: center;
    margin: 0.5em 0;

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 0.9375em;
    }

    .name {
      font-weight: 700;
    }

    .email {
      font-size: 14px;
    }

    svg {
      margin-left: auto;
    }
  }

  .searchbar {
    display: flex;
    align-items: center;
    position: relative;
    margin: 1em 0;

    input {
      padding: 1em;
      padding-right: 3em;
      outline: none;
      border: none;
      background-color: #282a3a;
      border-radius: 4px;
      color: $primary-text-color;
      width: 100%;
    }

    svg {
      position: absolute;
      right: 1em;
      font-size: 14px;
    }
  }

  .menu {
    list-style: none;

    li {
      margin-bottom: 4px;
    }

    a {
      color: $primary-text-color;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: .5em 0.3125em;
      border-radius: 4px;

      .icon {
        margin-right: 0.625em;
        font-size: 18px;
      }

      &:hover {
        background-color: $secondary-color;
      }
    }
  }

  .tags {
    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-weight: bold;
      }

      button {
        background-color: transparent;
        cursor: pointer;
        color: $primary-text-color;
        border: none;
        outline: none;
        font-size: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        padding: 0.3125em;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }

    ul {
      list-style: none;
    }
  }
}