$primary-color: #101828;
$secondary-color: #1d2939;
$primary-text-color: #f3f4f8;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  color: $primary-text-color;
  font-size: 18px;
}

.wrapper {
  display: flex;
}

.sidebar {
  min-width: 280px;
  padding: 0 1.250em;

  .brand {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 1.625em;
    font-weight: bold;
  }

  .user {
    display: flex;
    align-items: center;
    margin: 0.5em 0;

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-right: 0.9375em;
    }

    .name {
      font-weight: 700;
    }

    .email {
      font-size: 14px;
    }

    svg {
      margin-left: auto;
    }
  }

  .searchbar {
    display: flex;
    align-items: center;
    position: relative;
    margin: 1em 0;

    input {
      padding: 1em;
      padding-right: 3em;
      outline: none;
      border: none;
      background-color: $secondary-color;
      border-radius: 4px;
      color: $primary-text-color;
      width: 100%;
    }

    svg {
      position: absolute;
      right: 1em;
      font-size: 14px;
    }
  }

  .menu {
    list-style: none;

    li {
      margin-bottom: 4px;
    }

    a {
      color: $primary-text-color;
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: .5em 0.3125em;
      border-radius: 4px;

      .icon {
        margin-right: 0.625em;
        font-size: 18px;
      }

      &:hover {
        background-color: $secondary-color;
      }
    }
  }

  .tags {
    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-weight: bold;
      }

      button {
        background-color: transparent;
        cursor: pointer;
        color: $primary-text-color;
        border: none;
        outline: none;
        font-size: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        padding: 0.3125em;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }

    ul {
      list-style: none;
    }
  }
}

.main {
  padding: 0 1em;
  width: 100%;
  background-color: $secondary-color;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .title {
      font-size: 24px;
      font-weight: bold;
      display: flex;
      align-items: center;

      svg {
        margin-right: 0.625em;
      }
    }

    button {
      background-color: $primary-color;
      color: inherit;
      border: none;
      cursor: pointer;
      padding: 1em;
      border-radius: 5px;
    }
  }

  .tasks {
    margin: .5em 0;

    .task {
      display: flex;
      align-items: center;
      background-color: $primary-color;
      padding: 0.3125em .625em;
      border-radius: 5px;
      margin-bottom: 0.3125em;

      .checkbox {
        padding: 0;
        margin-right: .625em;
        font-size: 18px;
      }

      .title {
        flex-grow: 1;
        padding-right: .3125em;
      }

      .due {
        min-width: 100px;
        text-align: center;
      }

      .priority {
        min-width: 50px;
        text-align: center;
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      button {
        display: flex;
        align-items: center;
        padding: .625em;
        background-color: transparent;
        color: $primary-text-color;
        border-radius: 50%;
        border: none;
        outline: none;
        font-size: 15px;
        cursor: pointer;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}